@using EasyTrip5.Models.Entities
@model List<Yorumlar>

@{
    ViewData["Title"] = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi</h2>



<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICII</th>
        <th>MAİL</th>
        <th>YORUM</th>
        <th>GUNCELLE</th>
        <th>SIL</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Kullaniciadi</td>
            <td>@item.Mail</td>
            <td>@item.Yorum</td>
            <td>@item.Blogs</td>
            <td><a href="/Admin/YorumSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGuncelle/@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>